
.dcam-text-red {
    color:#c45429;
}

.dcam-text-blue-light {
    color: #68ace3;
}

.dcam-text-blue-reg {
    color: #216dab;
}

.dcam-text-blue-dark {
    color: #103756;
}

.dcam-red {
    background-color: #c45429;
}

.dcam-blue-light {
    background-color: #68ace3;
}

.dcam-blue-reg {
    background-color: #216dab;
}

.dcam-blue-dark {
    background-color: #103756;
}

.dcam-green {
    background-color: rgb(74, 173, 82);
}

.dcam-green:hover {
    background-color: rgb(74, 173, 82, 0.8);
}


.bg-dcam {
    background-image: url(../img/banner1.png);
    background-size: cover;
    background-position: center;
}

.bg-notes {
    background-image: url(../img/bg-notes.png);
    background-size: cover;
    background-position: center;}

.filter {
    background-color: rgba(0, 0, 0, .5)
}

.roboto {
font-family: 'Roboto', sans-serif;
}

.ovo {
    font-family: 'Ovo', serif;
}

.min {
    min-width: 220px;
}

.offers-icon {
    color:#68ace3; 
    border: 6px solid #68ace3; 
    border-radius: 25%; 
    padding: 30px;
}

.no-border {
    border: 0;
}

.dcam-border {
    border: 2px solid #c45429;
    border-left: none;
    border-right: none;

}

ol, ul {
    list-style-position: inside;
}

img {
    overflow: hidden;
}
