/* CUSTOM TEXT COLOURS */

.dcam-text-red {
    color:#c45429;
}

.dcam-text-orange {
    color:#ef8354;
}

.dcam-text-yellow {
    color: #fff05a;
}

.dcam-text-blue-light {
    color: #68ace3;
}

.dcam-text-blue-reg {
    color: #216dab;
}

.dcam-text-blue-dark {
    color: #103756;
}


/* CUSTOM TEXT STYLES */
.roboto-reg {
    font-family: 'Roboto', sans-serif;
    font-weight: normal; 
    }
    
.roboto-bold {
font-family: 'Roboto', sans-serif;
font-weight: bold;
}

.roboto-ital {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}



/* CUSTOM BACKGROUND COLOURS */

.dcam-bg-gradient {
    background-image: linear-gradient(to right, #216dab, #103756 50%);
}

.dcam-red {
    background-color: #c45429;
}

.dcam-orange {
    background-color: #ef8354;
}

.dcam-blue-light {
    background-color: #68ace3;
}

.dcam-blue-reg {
    background-color: #216dab;
}

.dcam-blue-dark {
    background-color: #103756;
}

.dcam-green {
    background-color: rgb(74, 173, 82);
}

.dcam-green:hover {
    background-color: rgb(74, 173, 82, 0.8);
}

.banner-height {
    height: 400px;
}

.banner-row-height {
    height: 100%;
}

.bg-dcam {
    background-image: url(../img/banner1.png);
    background-size: cover;
    background-position: center;
}


.filter {
    background-color: rgba(0, 0, 0, .5)
}

.roboto-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 100; 
    }

.ovo {
    font-family: 'Ovo', serif;
}

.min {
    min-width: 220px;
}

.offers-icon {
    color:#68ace3; 
    border: 6px solid #68ace3; 
    border-radius: 25%; 
    padding: 30px;
}

.no-border {
    border: 0;
}

.dcam-border {
    border: 2px solid #ef8354;
    border-left: none;
    border-right: none;
}

ol, ul {
    list-style-position: inside;
}

img {
    overflow: hidden;
}

.slider-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.dcam-btn:hover {
    transform:rotate(-6deg);
}


.img-floated {
    float: left;
}


.carousel-item img {
    width: auto;
    height: 350px;
}


.dropdown-menu {
    background-color: #103756;

}

.dropdown-menu a {
    color:#93A5B3;

}
